{% for member in members %}
    {# Each "member" is a member model object. #}
    {{ member.userName|upper }}<br />
{% endfor %}
 
<div class="pagination">
    <span class="step-links">
        {% if members.has_previous %}
            <a href="?page={{ members.previous_page_number }}">previous</a>
        {% endif %}
 
        <span class="current">
            Page {{ members.number }} of {{ members.paginator.num_pages }}.
        </span>
 
        {% if members.has_next %}
            <a href="?page={{ members.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>