<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>订单列表</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ol>
				{% for order in orders %}
                    <li>
                        {{ order.userName|upper }}<br />
                        {{ order.mobile }}<br />
				    </li>
                {% endfor %}
			</ol>
		</div>
	</div>
</div>

    <!-- jquery JavaScript -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>


</body></html>